{# src/giftBundle/Resources/views/Default/form.html.twig #}

{% extends "giftBundle:Default:layout.html.twig" %}

{% block body %}
	<div>
		{% for message in app.session.flashbag.get('info')%}
			<p class="alert alert-danger">{{ message }}</p>
		{% endfor %}
	</div>
<div class="col-md-8">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}
	    <div class="form-group">
	      {# Lastname#}
	      {{ form_label(form.username, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	      {{ form_errors(form.username) }}
	      <div class="col-sm-8">
	        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
	      </div>
	    </div>
	    {# Firstname#}
	    <div class="form-group">
	      {{ form_label(form.firstname, "Prénom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	      {{ form_errors(form.firstname) }}
	      <div class="col-sm-8">
	        {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
	      </div>
	    </div>
	    {# Password#}
	    <div class="form-group">
	      {{ form_label(form.password, "Mot de Passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	      {{ form_errors(form.password) }}
	      <div class="col-sm-8">
	        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
	      </div>
	    </div>
	    {# Email#}
	    <div class="form-group">
	      {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
	      {{ form_errors(form.email) }}
	      <div class="col-sm-8">
	        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
	      </div>
	  	</div>
	  	{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
	  	<div class="col-sm-offset-3 col-sm-10">
	  		{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
	  	</div>
	  	{{ form_rest(form) }}
	  	{{ form_end(form) }}
</div>
{% endblock %}