{# src/giftBundle/Resources/views/Default/form.html.twig #}
{% extends "giftBundle:Default:layout.html.twig" %}

{% block body %}
	<h2> Mes événements</h2>
	{% for event in event %}
		<h4> {{ event.name }} : le {{ event.startdate|date('Y-m-d')  }}</h4>
		<h5> Liste des participants : </h5>
		<ul>
			{% for userEvent in userEvents %}
				{% for user in userEvent %}
				<li> {{ user.username }} {{ user.firstname }} </li>
				{% endfor %}
			{% endfor %}
		</ul>
		<div>
			{% if event.owner.id == user.id %}
				<a class="btn btn-success" href="{{ url('gift_invitation',{'token':event.token} ) }}">Inviter de nouvelles personnes</a>
			{% endif %}
			<a class="btn btn-primary" href="{{ path('gift_myAccount') }}">Retour à tous les événements</a>
		</div>
	{% endfor %}
{% endblock %}